main {
    min-height: 720px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    position: relative;
    overflow: hidden;
}

main>article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 4pt;
    background: #bcd2f1;
    -webkit-flex: 6 1 auto;
    flex: 6 1 auto;
    -webkit-order: 2;
    order: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    text-align: center;
}

img {
    margin-top: 5px;
}

main>nav {
    margin: 4px;
    padding: 10px;
    border: 1px solid #8888bb;
    border-radius: 4pt;
    background: #6e9ce7;
    -webkit-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-order: 1;
    order: 1;
    min-width: 10%;
    align-content: center;
}

section {
    width: 30%;
    min-height: 80px;
    margin: 5px 10px;
    border: #000000 solid;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.productName {
    font-size: 18px;
}

.productPrice {
    font-size: 16px;
}

.addToCart {
    background-color: rgb(179, 12, 34); /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    width: 40%;
    margin: 10px auto;
    cursor: pointer;
    align-self: flex-end;
}

.filterLabel {
    font-size: 14px;
}