  main {
          min-height: 600px;
          margin: 0px;
          padding: 0px;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row;
          flex-flow: row;
          position: relative;
          overflow: hidden;
  }

  main>article {
          margin: 4px;
          padding: 5px;
          border: 1px solid #cccc33;
          border-radius: 4pt;
          background: #dddd88;
          -webkit-flex: 6 1 auto;
          flex: 6 1 auto;
          -webkit-order: 2;
          order: 2;
  }

  main>nav {
          margin: 4px;
          padding: 5px;
          border: 1px solid #8888bb;
          border-radius: 4pt;
          background: #ccccff;
          -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
          -webkit-order: 1;
          order: 1;
  }

  aside {
          height: 80%;
          width: 30%;
          margin: 4px;
          padding: 5px;
          border: 1px solid #bb88ac;
          border-radius: 4px;
          background-color: aqua;
          -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
          display: 'none';
          z-index: 2;
  }

  .slideOff {
        position: absolute;
        right: -29%;
        transition: 1s;
  }

  .slideOn {
        position: absolute;
        transition: 1s;
        right: -4px;
    }

   .overlay {
        position: fixed; 
        display: none;
        width: 100%;
        height: 100%;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.6); /* Black background with opacity */
        z-index: 1;

    }

  header,
  footer {
          display: block;
          margin: 4px;
          padding: 5px;
          min-height: 100px;
          border: 1px solid #eebb55;
          border-radius: 4pt;
          background: #ffeebb;
  }
  /* Too narrow to support three columns */

  @media all and (max-width: 640px) {
          main {
                  -webkit-flex-flow: column;
                  flex-flow: column;
          }
          main>article,
          main>nav,
          main>aside {
                  /* Return them to document order */
                  -webkit-order: 0;
                  order: 0;
          }
          main>nav,
          main>aside,
          header,
          footer {
                  min-height: 50px;
                  max-height: 50px;
          }
  }