body {
    font: 24px Comic Sans MS;
    background: #f0f5ef;
    color:rgba(0,0,0,.25);
    margin: 1% 6%;
}

@media all and (max-width: 640px) {
    main {
            -webkit-flex-flow: column;
            flex-flow: column;
    }
    main>article,
    main>nav,
    main>aside {
            /* Return them to document order */
            -webkit-order: 0;
            order: 0;
    }
    main>nav,
    main>aside,
    header,
    footer {
            min-height: 50px;
            max-height: 50px;
    }
}